$black: black;
$white: white;

input {
    background-color: $white;
    color: $black;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

button, .btn.btn-info {
    width: 20%;
    margin-top: 20px;
}
#divSearch{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
#divSearch .row{
    margin: 100px 0px;
}
#btn-search{
    margin-top: 50px;
}
.newDiv {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 20px 0 20px 0;
    padding: 20px;
    margin: 0 10px 10px 0;
}

.newDiv h2 {
    font-size: 15px;
    color: $black;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: $white;
    color: $black;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 60%;
    border: 2px solid;
    border-radius: 20px;
    font-style: italic;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px; 
    background-color: $black;
    color: $white;
    padding: 20px 0;
    margin-top: 100px;
}

.social {
    text-align: right;
}

.social i {
    color: $white;
    font-size: 30px;
}

.social a {
    margin-right: 20px;
    color: transparent;
}

@media (max-width: 600px) {
    button, input {
        width: 100%;
    }
}
